# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [2]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Inicie sua análise a partir daqui

In [52]:
(black_friday.Age.value_counts())

26-35    214690
36-45    107499
18-25     97634
46-50     44526
51-55     37618
55+       20903
0-17      14707
Name: Age, dtype: int64

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [74]:
def q1():
    black_friday = pd.read_csv("black_friday.csv")

    n_observacoes = len(black_friday)
    n_colunas = len(black_friday.columns)
    resposta = (n_observacoes,n_colunas)
    return resposta

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [75]:
def q2():
    black_friday = pd.read_csv("black_friday.csv")

    dados_filtro = black_friday.loc[(black_friday.Gender == 'F') & (black_friday.Age=='26-35')]
    return len(dados_filtro)

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [76]:
def q3():
    black_friday = pd.read_csv("black_friday.csv")

    usuario = set(black_friday.User_ID)
    total = len(usuario)
    return total

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [77]:
def q4():
    black_friday = pd.read_csv("black_friday.csv")

    dados_dif = len(set((black_friday).dtypes.values))
    return dados_dif

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [78]:
def q5():
    black_friday = pd.read_csv("black_friday.csv")

    intersec = black_friday.loc[(black_friday.Product_Category_2.isna()) & (black_friday.Product_Category_3.isna())]
    x = black_friday.loc[black_friday.Product_Category_3.isna()]
    y = black_friday.loc[black_friday.Product_Category_2.isna()]
    soma = len(x) + len(y) - len(intersec)
    perc = soma/len(black_friday)
    return perc

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [79]:
def q6():
    black_friday = pd.read_csv("black_friday.csv")

    x = black_friday.loc[black_friday.Product_Category_3.isna()]
    return len(x)

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [80]:
def q7():
    black_friday = pd.read_csv("black_friday.csv")

    a = black_friday.Product_Category_3.value_counts()
    return (a.index[0])

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [4]:
from sklearn import preprocessing

def q8():
    black_friday = pd.read_csv("black_friday.csv")

    min_max_scaler = preprocessing.MinMaxScaler()
    a = black_friday.Purchase.values
#    print(a.shape)
    x_scaled = min_max_scaler.fit_transform(a.reshape(-1, 1))
    print(x_scaled.mean())
    media = float(x_scaled.mean())
    print(type(media))
    return media
q8()

0.3847939036269795
<class 'float'>

0.3847939036269795

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [82]:
from sklearn.preprocessing import StandardScaler
def q9():
    black_friday = pd.read_csv("black_friday.csv")

    stscal = preprocessing.StandardScaler()
    a = black_friday.Purchase.values
    x_scaled = stscal.fit_transform(a.reshape(-1, 1))
    faixa = x_scaled[x_scaled < 1]
    faixa = faixa[faixa>-1]
    return len(faixa)

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [83]:
def q10():
    black_friday = pd.read_csv("black_friday.csv")

    intersec = black_friday.loc[(black_friday.Product_Category_2.isna()) & (black_friday.Product_Category_3.isna())]
    x = black_friday.loc[black_friday.Product_Category_3.isna()]
    y = black_friday.loc[black_friday.Product_Category_2.isna()]
    boole = (len(y)==len(intersec))
    return boole

In [84]:
q1()
q2()
q3()
q4()
q5()
q6()
q7()
q8()
q9()
q10()