In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("datasets_554905_1035602_houses_to_rent_v2.csv")

In [10]:
data.head()
data.rename(columns = {"hoa (R$)":"condominio", "rent amount (R$)":"aluguel","property tax (R$)":"iptu","fire insurance (R$)":"seguro_incendio","total (R$)":"total"}, inplace = True)

- valor medio por cidade
- numero banheiro casas acima da media
- correlacoes
- data vis (heat map, histograma, facetgrid)

In [14]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,condominio,aluguel,iptu,seguro_incendio,total
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

### Valor medio por cidade

In [35]:
data.groupby("city")["aluguel"].mean()

city
Belo Horizonte    3664.127981
Campinas          2364.290739
Porto Alegre      2337.699916
Rio de Janeiro    3232.904064
São Paulo         4652.793783
Name: aluguel, dtype: float64

### N medio banheiro imoveis com aluguel alto

Quarto quartil pra cada uma das cidades (>75%)

In [50]:
cidades = set(data.city)
valores_altos = []
for cidade in cidades:
    desc = data["aluguel"].loc[data.city == cidade].describe()
    media_banheiros = data.bathroom.loc[(data.aluguel > desc['75%']) & (data.city == cidade)].mean()
    print("A media de banheiros em imoveis caros em ", cidade, "é igual a ", media_banheiros)

A media de banheiros em imoveis caros em  Belo Horizonte é igual a  4.061290322580645
A media de banheiros em imoveis caros em  Porto Alegre é igual a  2.8817567567567566
A media de banheiros em imoveis caros em  Campinas é igual a  3.638095238095238
A media de banheiros em imoveis caros em  São Paulo é igual a  3.893296853625171
A media de banheiros em imoveis caros em  Rio de Janeiro é igual a  2.6549865229110514

In [30]:
data.aluguel.describe()

count    10692.000000
mean      3896.247194
std       3408.545518
min        450.000000
25%       1530.000000
50%       2661.000000
75%       5000.000000
max      45000.000000
Name: aluguel, dtype: float64

In [61]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
tipos = data.dtypes

for coluna,tipo in tipos.items():
    if tipo == 'object':
        data[coluna] = le.fit_transform(data[coluna])

In [63]:
data[["aluguel","furniture"]].corr()

            aluguel  furniture
aluguel    1.000000  -0.164235
furniture -0.164235   1.000000